body{
    background-color: whitesmoke;
    font-family: monospace;

}

#pplayer {
    display: none;
}

h4{
     margin-left: 10%;
 }

h2{
    text-align: center;
}

/*hide*/

#form-switch {
    display:none
}
#id02 {
    display:none;
    height: 120%;
}
#form-switch:checked~#id02 {
    display:block
}
#form-switch:checked~#id01 {
    display:none
}
label {
    cursor:pointer
}
/*modal*/
/* Full-width input fields */
input[type=text], input[type=password], input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-family: monospace;
}

/* Set a style for all buttons */
button{
    background-color: lightslategrey;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 40%;
    float: right;
    border-radius: 8px;
    font-family: monospace;
    font-size: 20px;
}

button:hover{
    background: cornflowerblue;;
}


/* Extra styles for the button */
.cancelbtn {
    width: 35%;
    padding: 14px 18px;
    background-color: black;
    float: left;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    float: right;
    top: 0;
    width: 30%; /* Full width */
    overflow: auto; /* Enable scroll if needed */
    padding: 0;

}

/* Modal Content/Box */
.modal-content {
    background-color: lightsteelblue;
    margin: 1% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid black;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}

/*Like*/

#like_content {
    padding: 40px 0 0;
    font-size: 18px;
    border-top: 10px dashed #eee;
    text-align: center;
    display: none;
    float: bottom;
}

.like_btn {
    background-color: lightslategrey;
    color: white;
    padding: 10px 20px;
    margin-top: 2%;
    margin-right: 44%;
    border: none;
    cursor: pointer;
    width: 9%;
    border-radius: 8px;
    font-family: monospace;
    font-size: 100%;
}
p {
    color: #9d9da4;
    font-family: monospace;
    text-align: center;
}

/*profile content */
#profile{
box-sizing: border-box;
border: 5px double cornflowerblue;
height: 300px;
width: 400px;
float: right;
overflow: scroll;
display: none;
font-family: monospace;
font-size: 20px;
margin-top: 75px;
margin-right: -190px;
list-style-type:none;

}

#profile_content{
    display: none;
}

.profile_btn{
    width: 13%;

}

#error{
    display: none;
}

/*play button*/
#imageOne {
    margin-left: 47%;
    position: relative;
    display: flex;
    padding: 100px 0;

}

/* The Close Button (x)
.close {
    position: absolute;
    right: 100px;
    top: 0;
    color: #000;
    font-size: 45px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: blue;
    cursor: pointer;
}
*/