body{
    background-color: whitesmoke;
}
#forma{
    display: none;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
h1{
    text-align: center;
    font-family: monospace;
 }


li{
    list-style-type: none;
}

div.box {
    box-sizing: border-box;
    width: 25%;
    border: 5px double cornflowerblue;
    float: left;
    height: 600px;
}
/* boxit*/

#database{
    width: 200px;
}
/*
#category{
    box-sizing: border-box;
    border: 5px double cornflowerblue;
    float: left;
    height: 73%;
    width: 55%;
    margin-left: 45%;
    overflow: scroll;
    position: relative;
}

/*

 */
/* modal button*/
.button, .button2, .button3 {
    background-color: lightslategrey;
    color: white;
    padding: 10px;
    margin-left: 10px;
    border: none;
    cursor: pointer;
    width: 20%;

    border-radius: 8px;
    font-family: monospace;
    font-size: 20px;
}

.button:hover, .button2:hover, .button3:hover {
    background: cornflowerblue;
}



/*Modal*/

#inContent{
    font-family: monospace;
    font-size: 23px;
    text-align: center;
}

#artist{
    width: 200px;
    background-color: ghostwhite;
    color: black;
}
#title{
    width: 200px;
    background-color: ghostwhite;
    color: black;
    margin-top: 20px;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 70%;
}

#close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

#close:hover,
#close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* ovarlay */
.overlay {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    display: none;
    /* фон затемнения */
    background-color: rgba(0, 0, 0, 0.65);
    position: fixed; /* фиксированное поцизионирование */
    cursor: default; /* тип курсара */
}
/* активируем слой затемнения */
.overlay:target {
    display: block;
}



/* modal */
.popup {
    top: -100%;
    right: 0;
    left: 50%;
    font-size: 14px;
    z-index: 20;
    margin: 0;
    width: 85%;
    min-width: 320px;
    max-width: 600px;
    /* scroll */
    position: fixed;
    padding: 15px;
    border: 5px solid #383838;
    background: cornflowerblue;

    /* radius */
    -webkit-border-radius: 8px;
    border-radius: 8px;

    /* shadow */
    -webkit-box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
    box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
    -webkit-transform: translate(-50%, -500%);
    transform: translate(-50%, -500%);
    -webkit-transition: -webkit-transform 0.6s ease-out;
    transition: transform 0.6s ease-out;
}
/* modal */
.overlay:target+.popup {
    -webkit-transform: translate(-50%, 0);

    transform: translate(-50%, 0);
    top: 20%;
}


/* frame */
.popup embed,
.popup iframe {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display:block;
    margin: auto;
    min-width: 320px;
    max-width: 600px;
    width: 100%;
}

input{
    background-color: lightslategrey;
    color: white;
    padding: 20px;
    margin-left: 10px;
    width: 13%;
    border-radius: 8px;
}


button {
    background-color: lightslategrey;
    color: white;
    padding: 20px;
    margin-left: 20px;
    border: none;
    cursor: pointer;
    width: 150px;
    border-radius: 8px;
    text-align: center;
    font-family: monospace;
    font-size: 20px;
    margin-top: 20px;

}

button:hover {
    background: cornflowerblue;
}

/* SEARCH */
#searchInput {
    background-position: 10px 12px;
    background-repeat: no-repeat;
    width: 80%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
}

#music {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#music li a {
    border: 1px solid #ddd;
    margin-top: -1px; /* Prevent double borders */
    background-color: #f6f6f6;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block
}

#myUL li a:hover:not(.header) {
    background-color: #eee;
}

/* Slide */
/* Slideshow container */
#list, #list2{
    margin-top: 10%;
    list-style-type:none;

}

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
    color: cornflowerblue;
    font-size: 20px;
    padding: 8px 12px;
    font-family: monospace;
    width: 100%;
    text-align: center;
}

/* Number text (1/2 etc) */
.numbertext {
    color: cornflowerblue;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
}